nav {
    text-align: center;
    padding: 1rem 0;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text_primary);
    padding: 0 1rem;
}

nav a.active {
    color: var(--text_orange);
    font-weight: 700;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text_primary);
    padding: 0.5rem 0rem;
}
